{% if page.meta and page.meta.contributors %}
  <aside class="md-source-file">
    <span class="md-source-file__fact">
      <span class="md-icon" title="{{ lang.t('source.file.contributors') }}">
        {% if page.meta.contributors | length == 1 %}
          {% include ".icons/material/account.svg" %}
        {% else %}
          {% include ".icons/material/account-group.svg" %}
        {% endif %}
      </span>
      <nav>
        {% for login in page.meta.contributors %}
          <a href="https://github.com/{{ login }}" class="md-author" title="@{{ login }}">
            <img src="https://github.com/{{ login }}.png?size=72" alt="@{{ login }}">
          </a>
        {% endfor %}
      </nav>
    </span>
  </aside>
{% endif %}
